<div class="timing-panel">
    <div class="title">Lane 2</div>
    <div class="bordered">
        <div>
            <span>Total Laps:</span>
            <span class="right-fit">14</span>
        </div>
        <div>
            <span>Best Time:</span>
            <span></span>
            <span class="time-focused">15.345 s</span>
        </div>
    </div>
    <div class="bordered">
        <div>
            <span>Laps No Incidence:</span>
            <span class="right-fit">6</span>
        </div>
        <div>
            <span>Best Time:</span>
            <span></span>
            <span class="time-focused">15.345 s</span>
        </div>
    </div>
    <div>
        <div>AVERAGE TIME</div>
        <div class="time-row">16.876 s</div>
    </div>
    <hr>
    <div>
        <div>Lap Times:</div>
        <div>
            <div class="time-row">18.456</div>
            <div class="time-row">18.456</div>
            <div class="time-row">18.456</div>
            <div class="time-row">18.456</div>
        </div>
    </div>
</div>