.panel-menu {
    border: 2px solid dimgray;
    margin: 4px;
    padding: 2px;
    font-family: "F1 Regular";
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
}

.reset-button {
    border: 1px solid white;
    border-radius: 4px;
    padding: 2px;
    display: inline-block;
    padding-top: 8px;
}

.reset-button:hover {
    background-color: gray;
}

.voice-button {
    border: 1px solid white;
    border-radius: 4px;
    padding: 2px;
    align-self: flex-end;
}

.voice-button:hover {
    background-color: lightskyblue;
}

.timing-panel {
    border: 2px solid white;
    margin: 4px;
    padding: 2px;
    font-family: "F1 Regular";
    background-color: black;
    color: white;
}

.clean-panel {
    opacity: 40%;
}

.title {
    font-family: "F1 Regular";
    font-weight: 700;
    font-size: 30px;
    padding-left: 4px;
}

.to-right {
    float: right;
}

.timing-label {
    padding-top: 4px;
    padding-right: 3px;
    font-size: 11px;
}

.lap-count {
    font-size: 20px;
    font-weight: 700;
    padding-right: 2px;
    color: yellowgreen;
}

.time-focused {
    color: orangered;
}

.time-average {
    font-size: 19px;
    color: orangered;
    padding-right: 2px;
    display: inline-flex;
    float: right;
}
.lap-time{
    font-size: 23px;
    margin-left: auto;
}

.right-fit {
    float: right;
}

.bordered {
    padding: 2px;
    border: 2px solid blue;
}

.time-row {
    text-align: right;
}

.best-lane {
    background-color: #104010;
}

.best-time {
    background-color: #104010;
}