.timing-panel {
    border: 2px solid black;
    margin: 4px;
    padding: 2px;
}

.title {
    font-size: 24px;
}

.time-focused {
    font-size: 16px;
    float: right;
}

.right-fit {
    float: right;
}

.bordered {
    margin: 2px;
    padding: 2px;
    border: 2px solid blue;
}

.time-row {
    text-align: right;
}