<div class="panel-menu">
    <div>RESET</div>
</div>
<div class="timing-panel" [ngClass]="{'clean-panel':isPanelClean()}">
    <!-- PILOT PANEL -->
    <div>
        <span class="title">P {{laneData.lane}}</span>
        <span class="lap-count">{{laneData.lapCount}}</span>
        <!-- <span class="timing-label to-right" style="padding-top: 4px;">Vueltas:</span> -->
    </div>
    <!-- BEST TIME -->
    <div>
        <div class="timing-label">MEJOR TIEMPO</div>
        <div class="time-focused">{{laneData.getBestTime()}}</div>
    </div>
    <!-- AVERAGE TIME -->
    <div>
        <div class="timing-label">PROMEDIO</div>
        <svg class="average-icon" fill="#FFF" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M12 7.77L18.39 18H5.61L12 7.77M12 4L2 20h20L12 4z"/><path d="M0 0h24v24H0V0z" fill="none"/></svg>
        <div class="time-average">{{laneData.getAverageTime()}}</div><br>
    </div>
    <div class="bordered ">
        <div>
            <span class="timing-label" style="color: blueviolet;">Vueltas Sin Accidente</span><br>
            <span class="timing-label">Laps:</span>
            <span class="lap-count to-right">{{laneData.lapSplitCount}}</span>
        </div>
        <div>
            <span class="timing-label">Time:</span>
            <span class="time-focused">{{laneData.getBestSplitTime()}}</span>
        </div>
    </div>
    <hr>
    <div class="timing-label" style="font-size: 15px">Vuelta / Tiempo</div>
    <div *ngFor="let lapTime of laneData.lapTimeRecords">
        <span class="lap-number">{{lapTime.lap}}</span>
        <span class="to-right">{{lapTime.time | number : '2.4-4'}}</span><br>
    </div>
</div>