<div>
    PLACE FOR THE CLUB HEADER
</div>
<div>
    PLACE FOR TIMING COLUMNS - DIV FORMAT
    <div class="timing-panel">
        <app-lane-timing-panel title="Lane 2"></app-lane-timing-panel>
        <app-lane-timing-panel title="Lane 2"></app-lane-timing-panel>
        <app-lane-timing-panel title="Lane 2"></app-lane-timing-panel>
        <app-lane-timing-panel title="Lane 2"></app-lane-timing-panel>
        <app-lane-timing-panel title="Lane 2"></app-lane-timing-panel>
        <app-lane-timing-panel title="Lane 2"></app-lane-timing-panel>
        <app-lane-timing-panel title="Lane 2"></app-lane-timing-panel>
        <app-lane-timing-panel title="Lane 2"></app-lane-timing-panel>
    </div>
</div>
<router-outlet></router-outlet>